*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-width: 1140px;
  justify-content: space-between;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  gap: 40px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: 'Oswald' sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  display: inline-block;
  font-family: 'Oswald' sans-serif;
  color: #545050;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
  margin-top: 7px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__textfield {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  background: none;
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed' sans-serif;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  min-width: 225px;
  font: inherit;
  appearance: none;
  cursor: pointer;
  margin-top: 5px;
}

.search-form__textfield::placeholder {
  font: inherit;
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  color: #fff;
  font-family: 'Fira Sans Condensed' sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 0;
  width: 100%;
}

.more-button {
  margin-bottom: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.button:active {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgba(84,80,80, 1);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid #fff;
}